@import "tailwindcss";

@theme {
  --font-poppins: 'Poppins', sans-serif;
  --font-inter: 'inter', sans-serif;
  --font-space: 'SpaceGrotesk', sans-serif;
}

@font-face {
  font-family: 'Poppins';
  src: url('/images/poppins.medium.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'inter';
  src: url('/images/inter.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'SpaceGrotesk';
  src: url('/images/SpaceGrotesk-Medium.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}